{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/proyecto.css' %}">
  <link rel="stylesheet" href="{% static 'css/ficha.css' %}">
  <title>ficha1</title>
</head>
<body>
  <!--MENÚ/NAVEGADOR-->
  <div class="container-fluid   text-white">
    <div class="row" id="nav">
      <div class="col">
        <img src="{% static 'png/logo-no-background.png' %}"
             alt=""
             height="100px"
             width="">
      </div>
      <div class="col" id="listas">
        <a href={% url 'vimad:index' %} class="nav1">Inicio</a>
        <a href={% url 'vimad:peliculas' %} class="nav1">Películas</a>
      </div>
      <div class="col " id="buscador">
        <img src="{% static 'img/lupa.svg' %}" alt="" height="35px" width="">
        <input type="text" name="" id="search" placeholder="Buscar">
        <ul class="nav">
          <li id="userlist">
            <img src="{% static 'img/user.svg' %}"
                 alt=""
                 height="45px"
                 width=""
                 id="user">
            <ul class="desplegable">
              <li>
                <a href="{% url 'vimad:sesion' %}">
                  <img src="{% static 'img/user2.svg' %}"
                       alt=""
                       height="20px"
                       width=""
                       class="pic">
                Perfil</a>
              </li>
              <li>
                <a href="">
                  <img src="{% static 'img/seguridad.svg' %}"
                       alt=""
                       height="20px"
                       width=""
                       class="pic"
                       id="user">
                Seguridad</a>
              </li>
              <li>
                <a href="{% url 'vimad:perfil' %}">
                  <img src="{% static 'img/settings.svg' %}"
                       alt=""
                       height="20px"
                       width=""
                       class="pic">
                Ajustes</a>
              </li>
              <li>
                <a href="{% url 'vimad:inicio' %}">
                  <img src="{% static 'img/sesion.svg' %}"
                       alt=""
                       height="20px"
                       width=""
                       class="pic">
                Cerrar sesión</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="bloque">
    <div class="wrapper">
      <div class="product-img">
        <img src="{% static 'img/cafarnaum.jpg' %}" height="520" width="327">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>Cafarnaum</h1>
          <h2>Drama</h2>
          <p>
            Cafarnaúm (en árabe, کفرناحوم) es una película libanesa de 2018 escrita y dirigida por Nadine Labaki.
            Fue seleccionada para competir por la prestigiosa Palma de Oro en el Festival Internacional de Cine de Cannes de 2018,
            donde ganó el Premio del Jurado.
            ​ Recibió una ovación de quince minutos tras ser presentada en Canes el 17 de mayo de 2018
          </p>
        </div>
        <div class="product-price-btn">
          <p>
            <span></span>
          </p>
          <a href="{% url 'vimad:video' %}">
            <button type="button">Reproducir</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
