<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/ficha.css" />
    <title>Ficha2</title>
  </head>

  <body>
    <div class="bloque">
      <div class="wrapper">
        <div class="product-img">
          <img src="img/breaking.jpg" height="520" width="327" />
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1>Breaking Bad</h1>
            <h2>Drama</h2>
            <p>
              El profesor calmado de química de una secundaria, Walter White
              cree que su vida no puede ser peor. Walter queda anonadado cuando
              se entera que tiene un cáncer terminal. Al concluir que su
              enfermedad iba a arruinar financieramente a su familia, él toma
              una decisión desesperada con el fin de ganar más dinero durante el
              tiempo que le queda y transforma un viejo vehículo de recreación
              en un laboratorio de matanfetaminas sobre ruedas
            </p>
          </div>
          <div class="product-price-btn">
            <p><span></span></p>
            <ul class="nav">
              <li id="userlist">
                <button type="button" id="user">Reproducir</button>
                <ul class="desplegable">
                  <li>
                    <a href="">Temporada 1</a><ul>
                        <li class="capitulo">Episodio 1</li>
                        <li class="capitulo">Episodio 2</li>
                        <li class="capitulo">Episodio 3</li>
                        <li class="capitulo">Episodio 4</li>
                        <li class="capitulo">Episodio 5</li>
                        <li class="capitulo">Episodio 6</li>
                        <li class="capitulo">Episodio 7</li>
                        <li class="capitulo">Episodio 8</li>
                        <li class="capitulo">Episodio 9</li>
                        <li class="capitulo">Episodio 10</li>
                        <li class="capitulo">Episodio 11</li>
                        <li class="capitulo">Episodio 12</li>
                        <li class="capitulo">Episodio 13</li>
                        <li class="capitulo">Episodio 14</li>
                        <li class="capitulo">Episodio 15</li>
                        <li class="capitulo">Episodio 16</li>
                        <li class="capitulo">Episodio 17</li>
                        <li class="capitulo">Episodio 18</li>
                        <li class="capitulo">Episodio 19</li>
                        <li class="capitulo">Episodio 20</li>
                    </ul>
                  </li>
                  <li>
                    <a href="">Temporada 2</a>
                  </li>
                  <li>
                    <a href="">Temporada 3</a>
                  </li>
                  <li>
                    <a href="">Temporada 4</a>
                  </li>
                  <li>
                    <a href="">Temporada 5</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
