<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/proyecto.css">
    <link rel="stylesheet" href="css/ficha.css">
    <title>ficha1</title>
</head>

<body>

    <div class="container-fluid text-white">
        <div class="row" id="nav">
          <div class="col">
            <img src="png/logo-no-background.png" alt="vimad" height="100px" />
          </div>
  
          <div class="col" id="listas">
            <a href="index.html" class="nav1">Inicio</a>
            <a href="peliculas.html" class="nav1">Películas</a>
            <a href="series.html" class="nav1">Series</a>
          </div>
  
          <div class="col" id="buscador">
            <img src="img/lupa.svg" alt="" height="35px" />
            <input type="text" name="" id="search" placeholder="Buscar" />
            <ul class="nav">
              <li id="userlist">
                <img src="img/user.svg" alt="" height="45px" id="user" />
                <ul class="desplegable">
                  <li>
                    <a href="sesion.html"
                      ><img
                        src="img/user2.svg"
                        alt="perfil"
                        height="20px"
                        class="pic"
                      />Perfil</a
                    >
                  </li>
                  <li>
                    <a href=""
                      ><img
                        src="img/seguridad.svg"
                        alt="seguridad"
                        height="20px"
                        class="pic"
                        id="user"
                      />Seguridad</a
                    >
                  </li>
                  <li>
                    <a href="perfil.html"
                      ><img
                        src="img/settings.svg"
                        alt="ajustes"
                        height="20px"
                        class="pic"
                      />Ajustes</a
                    >
                  </li>
                  <li>
                    <a href="inicio.html"
                      ><img
                        src="img/sesion.svg"
                        alt="cerrar sesion"
                        height="20px"
                        class="pic"
                      />Cerrar sesión</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br /><br />
  
  


    <div class="bloque">
        <div class="wrapper">
            <div class="product-img">
                <img src="img/cafarnaum.jpg" height="520" width="327">
            </div>
            <div class="product-info">
                <div class="product-text">
                    <h1>Cafarnaum</h1>
                    <h2>Drama</h2>
                    <p>Cafarnaúm (en árabe, کفرناحوم) es una película libanesa de 2018 escrita y dirigida por Nadine Labaki. 
                        Fue seleccionada para competir por la prestigiosa Palma de Oro en el Festival Internacional de Cine de Cannes de 2018,
                        donde ganó el Premio del Jurado.
                        ​ Recibió una ovación de quince minutos tras ser presentada en Canes el 17 de mayo de 2018
                    </p>
                  
                </div>
                <div class="product-price-btn">
                    <p> <span></span></p>
                   <a href="video.html"> <button type="button">Reproducir</button></a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
</body> 

</html>