{% extends 'vimad/base_menus.html' %}
{% load static %}

{% block title %}
    <title>{{ corto.titulo }}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ficha.css' %}" />
{% endblock css %}

{% block contenido %}
    <div class="bloque">
        <div class="card">
            <!--Comprueba que hay imagen cargada y si no, pone una por defecto-->
            {% if corto.imagen %}
                <img src="{{ corto.imagen.url }}" alt="{{ corto.titulo }}" />
            {% else %}
                <img src="{% static 'png/default.png' %}" alt="{{ corto.titulo }}" />
            {% endif %}
            <div class="textArrange">
                <h1>{{ corto.titulo }}</h1>
                <br>
                <h2>{{ corto.genero }}</h2>
                <br>
                <h3>{{ corto.fec_estreno }}</h3>
                <br>
                <p>{{ corto.sinopsis }}</p>
                <br>
                <ul>
                    <h4>Reparto</h4>
                    <li>
                        Direccion:
                        {% for director in directores %}
                            {{ director.nombre }}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </li>
                    <li>
                        Actuación:
                        {% for actor in actores %}
                            {{ actor.nombre }}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </li>
                </ul>
                <br>
                <h4>País: {{ corto.pais }}</h4>
                <br>
                <a href={% url 'vimad:video' %}>
                    <button>Reproducir</button>
                </div>
            </div>
        </div>
    {% endblock contenido %}
    
    {% block js %}
    {% endblock js %}