{% extends 'vimad/base_menus.html' %}
{% load static %}

{% block title %}
  <title>Página principal</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slyder.css' %}">
{% endblock css %}

{% block contenido %}
  <!--CORTOS RECIENTES-->
  {% include 'vimad_app/includes/cortos_list_block.html' with data_slide="1" titulo="Cortos añadidos recientemente" %}
{% endblock contenido %}

{% block js %}
  <!--js scripts de index y cortos-->
  {% include 'vimad_app/includes/js_scripts_cortos_index.html' %}
{% endblock js %}
