<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/proyecto.css" />
    <link rel="stylesheet" href="css/slyder.css">

    <title>Series</title>
  </head>

  <body>
    <!--MENÚ/NAVEGADOR-->
    <div class="container-fluid text-white">
      <div class="row" id="nav">
        <div class="col">
          <img src="png/logo-no-background.png" alt="" height="100px" />
        </div>

        <div class="col" id="listas">
          <a href="index.html" class="nav1">Inicio</a>
          <a href="peliculas.html" class="nav1">Películas</a>
          <a href="series.html" class="nav1">Series</a>
        </div>

        <div class="col" id="buscador">
          <img src="img/lupa.svg" alt="buscar" height="35px" />
          <input type="text" name="search" id="search" placeholder="Buscar" />
          <ul class="nav">
            <li id="userlist">
              <img src="img/user.svg" alt="preferencias" height="45px" id="user" />
              <ul class="desplegable">
                <li>
                  <a href="sesion.html"
                    ><img
                      src="img/user2.svg"
                      alt="ajustes de perfil"
                      height="20px"
                      class="pic"
                    />Perfil</a
                  >
                </li>
                <li>
                  <a href=""
                    ><img
                      src="img/seguridad.svg"
                      alt="ajustes de seguridad"
                      height="20px"
                      class="pic"
                      id="user"
                    />Seguridad</a
                  >
                </li>
                <li>
                  <a href="perfil.html"
                    ><img
                      src="img/settings.svg"
                      alt="ajustes generales"
                      height="20px"
                      class="pic"
                    />Ajustes</a
                  >
                </li>
                <li>
                  <a href="inicio.html"
                    ><img
                      src="img/sesion.svg"
                      alt="cerrar la sesión"
                      height="20px"
                      class="pic"
                    />Cerrar sesión</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br /><br />



    <div class="seccion">
      <h2 class="titulos">Series de Fantasía y Ciencia Ficcion</h2>
    </div>
    <div class="wrap">
      <div class="scrollbar">
          <div class="handle">
              <div class="mousearea"></div>
          </div>
      </div>
      
      <div class="frame centered" data-slide="1" >
        
          <ul class="clearfix">
              <li class="agrandar"> <img src="img/anillo.jpg" alt="los anillos de poder" class="seleccion" /></li>
              <li><img src="img/mandalorian.jpg" alt="as bestas" class="seleccion" /></li>
              <li> <img src="img/lost.jpg" alt="libelulas" class="seleccion" /></li>
              <li> <img src="img/loop.jpg" alt="tales from the loop" class="seleccion" /></li>
              <li> <img src="img/lovecraft.jpg" alt="territorio lovecraft" class="seleccion" /></li>
              <li> <img src="img/kenobi.jpg" alt="kenobi" class="seleccion" /></li>
              <li> <img src="img/alf.jpg" alt="alf" class="seleccion" /></li>
              <li> <img src="img/rick.jpg" alt="rick y morty" class="seleccion" /></li>
              <li> <img src="img/aventuras.jpg" alt="hora de aventras" class="seleccion" /></li>
              <li><img src="img/last.jpg" alt="last of us" class="seleccion" /></li>
              <li><img src="img/dragon.jpg" alt="en busca del valle encantado" class="seleccion" /></li>
          </ul>
      </div>

      <div class="controls center">
          <button class="btn prev" data-slide="1"><i class="icon-chevron-left"></i> anterior</button>
          <button class="btn next" data-slide="1">siguiente <i class="icon-chevron-right"></i></button>
      </div>






    <div class="seccion">
      <h2 class="titulos">Series de Drama y Suspense</h2>
    </div>
    <div class="wrap">
      <div class="scrollbar">
          <div class="handle">
              <div class="mousearea"></div>
          </div>
      </div>
      
      <div class="frame centered" data-slide="2">
        
          <ul class="clearfix">
              <li> <img src="img/blinders.jpg" alt="peaky blinders" class="seleccion" /></li><li><img src="img/wire.jpg" alt="" class="seleccion" /></li><li> <img src="img/detective.jpg" alt="" class="seleccion" /></li>
              <li> <img src="img/breaking.jpg" alt="breaking bad" class="seleccion" /></li>
              <li> <img src="img/soprano.jpg" alt="los soprano" class="seleccion" /></li>
              <li> <img src="img/autodefensa.jpg" alt="autodefensa" class="seleccion" /></li>
              <li> <img src="img/criada.jpg" alt="el cuento de la criada" class="seleccion" /></li>
              <li> <img src="img/peaks.jpg" alt="ttwin peaks" class="seleccion" /></li>
              <li> <img src="img/house.jpg" alt="house of cards" class="seleccion" /></li>
              <li><img src="img/casa.jpg" alt="house" class="seleccion" /></li>
              <li><img src="img/elite.jpg" alt="perdidos" class="seleccion" /></li>
          </ul>
      </div>

      <div class="controls center">
          <button class="btn prev" data-slide="2"><i class="icon-chevron-left"></i> anterior</button>
          <button class="btn next" data-slide="2">siguiente <i class="icon-chevron-right"></i></button>
      </div>


      <div class="seccion">
        <h2 class="titulos">Series de Anime</h2>
      </div>
      <div class="wrap">
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
        
        <div class="frame centered" data-slide="2">
          
            <ul class="clearfix">
                <li> <img src="img/note.jpg" alt="death note" class="seleccion" /></li><li><img src="img/neon.jpg" alt="neon genesis" class="seleccion" /></li><li> <img src="img/one.jpg" alt="one piece" class="seleccion" /></li>
                <li> <img src="img/naruto.jpg" alt="naruto" class="seleccion" /></li>
                <li> <img src="img/digimon.jpg" alt="digi4" class="seleccion" /></li>
                <li> <img src="img/titanes.jpg" alt="ataque a los titanes" class="seleccion" /></li>
                <li> <img src="img/berserk.jpg" alt="berserk" class="seleccion" /></li>
                <li> <img src="img/bleach.jpg" alt="ttwin peaks" class="seleccion" /></li>
                <li> <img src="img/full.jpg" alt="house of cards" class="seleccion" /></li>
                <li><img src="img/z.jpg" alt="bragon ball z" class="seleccion" /></li>
                <li><img src="img/hunter.jpg" alt="hunter" class="seleccion" /></li>
            </ul>
        </div>
  
        <div class="controls center">
            <button class="btn prev" data-slide="2"><i class="icon-chevron-left"></i> anterior</button>
            <button class="btn next" data-slide="2">siguiente <i class="icon-chevron-right"></i></button>
        </div>
      
  </div>


  

<br><br><br><br>







  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/fontAwesome.js"></script>
  <script src="js/slyder/next.js"></script>
  <script src="js/slyder/sly.js"></script>
  <script src="js/slyder/horisontal.js"></script>




  </body>
</html>
