{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        {% endblock title %}
        <link rel="stylesheet" href="{% static 'css/proyecto.css' %}" media="all">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" media="all">
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        <!--MENÚ/NAVEGADOR-->
        {% include 'vimad/includes/menu.html' %}
        {% block contenido %}
        {% endblock contenido %}
        <!--footer-->
        {% include 'vimad/includes/footer.html' %}
        <!--SCRIPTS-->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/barraBuscadora.js' %}"></script>
        
        {% comment %} 
            <script>
                $.ajax({
                    url: '/buscar/',
                    type: 'GET',
                    beforeSend: function() {
                        console.log('La petición AJAX está en curso...');
                    },
                    success: function(data) {
                        console.log('La petición AJAX se completó con éxito.');
                        // Manejar los datos devueltos por la petición AJAX
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log('La petición AJAX ha fallado.');
                        // Manejar el error de la petición AJAX
                    },
                    complete: function() {
                        console.log('La petición AJAX se ha completado.');
                        // Realizar acciones adicionales después de que se complete la petición AJAX
                    }
                });
            </script>
            <script>
                $(document).ready(function() {
                    console.log("jQuery está funcionando correctamente");
                });
            </script> 
        {% endcomment %}
        
        {% block js %}
        {% endblock js %}
    </body>

        
</html>