{% load static %}
<br><br><br><br><br><br>
<section>
    <footer class="top">
        <img class= "logofoot" src="{% static 'png/logo-no-background.png' %}" alt="logo" />
    </footer>
    <footer class="bottom">
        <div class="legal">
            <span>© 2023 All rights reserved</span>
            <a>License</a>
            <a>Terms</a>
            <a>Privacy</a>
        </div>
        <br>
        <div class="links">
            <a class="fa-brands fa-github" title="fa-github"></a>
            <a class="fa-brands fa-linkedin" title="fa-linkedin"></a>
            <a class="fa-brands fa-facebook" title="fa-facebook"></a>
            <a class="fa-brands fa-twitter" title="fa-twitter "></a>
        </div>
    </footer>
</section>