{% load static %}
<div class="container-fluid text-white">
    <div class="row" id="nav">
        <div class="col">
            <img src="{% static 'png/logo-no-background.png' %}"
                 alt="vimad logo"
                 height="100px"
                 width="">
        </div>
        <div class="col" id="listas">
            <a href={% url 'vimad:index' %} class="nav1">Inicio</a>
            <a href={% url 'vimad:generos' %} class="nav1">Generos</a>
            <a href={% url 'vimad:about' %} class="nav1">About</a>
        </div>
        <div class="col " id="buscador">
            <img src="{% static 'svg/lupa.svg' %}" alt="buscador" height="35px" width="">

            
            <form class="form-inline my-2 my-lg-0" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" id="buscar-input">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="buscar-btn">Buscar</button>
            </form>
            <div id="resultados-busqueda" class="list-group"></div>


            <ul class="nav">
                <li id="userlist">
                    <img src="{% static 'svg/user.svg' %}"
                         alt="user"
                         height="45px"
                         width=""
                         id="user">
                    <ul class="desplegable">
                        <!--COMPRUEBO SI HAY SESION-->
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'vimad:sesion' %}">
                                    <img src="{% static 'svg/user2.svg' %}"
                                         alt="perfil"
                                         height="20px"
                                         width=""
                                         class="pic">
                                Perfil</a>
                            </li>
                            <!--
                            <li>
                                <a href="">
                                    <img src="{% static 'svg/seguridad.svg' %}"
                                         alt="seguridad"
                                         height="20px"
                                         width=""
                                         class="pic"
                                         id="user">
                                Seguridad</a>
                            </li>
                            -->
                            <li>
                                <a href="{% url 'vimad:perfil' %}">
                                    <img src="{% static 'svg/settings.svg' %}"
                                         alt="ajustes"
                                         height="20px"
                                         width=""
                                         class="pic">
                                Ajustes</a>
                            </li>
                            <li>
                                <a href="{% url 'vimad:logout' %}">
                                    <img src="{% static 'svg/sesion.svg' %}"
                                         alt="cerrar sesion"
                                         height="20px"
                                         width=""
                                         class="pic">
                                Cerrar sesión</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'vimad:inicio' %}">
                                    <img src="{% static 'svg/user2.svg' %}"
                                         alt="iniciar sesion"
                                         height="20px"
                                         width=""
                                         class="pic">
                                Iniciar sesión</a>
                            </li>
                            <li>
                                <a href="{% url 'vimad:register' %}">
                                    <img src="{% static 'svg/seguridad.svg' %}"
                                         alt="registrarse"
                                         height="20px"
                                         width=""
                                         class="pic"
                                         id="user">
                                Registrarse</a>
                            </li>
                        {% endif %}
                        <!--FIN DEL CONDICIONAL-->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>